<div class="row">
  <div class="card col-sm-6" *ngFor="let vote of votes">
    <img class="card-img-top" src={{vote.collegue.photo}} alt="profil">
    <div class="card-body">
      <h5 class="card-title">{{vote.collegue.pseudo}}</h5>
      <div class="card-text" *ngIf="vote.avis == 0">{{vote.collegue.pseudo}} est aimé(e), il/elle a désormais un score de {{vote.collegue.score}}</div> <br>
      <div class="card-text" *ngIf="vote.avis == 1">{{vote.collegue.pseudo}} est détesté(e), il/elle a désormais un score de {{vote.collegue.score}}</div> <br>
      <button type="button" class="btn btn-primary" (click)="upprimer(vote)">Supprimer</button>
    </div>
  </div>
</div>